<h2>WorkTimeTableController#index</h2>
<%= link_to '<<', {:controller => 'work_time_table', :action => 'index', :month => (@month - 1.month).strftime('%Y-%m-%d')} %>
<%= @month.strftime('%Y-%m-%d') %>
<%= link_to '>>', {:controller => 'work_time_table', :action => 'index', :month => (@month + 1.month).strftime('%Y-%m-%d')} %>
<table>
  <thead>
    <tr>
      <th>
        Date
      </th>
    </tr>
  </thead>
  <tbody>
    <% (@month.beginning_of_month.to_date..@month.end_of_month.to_date).each do |day| %>
    <tr>
      <th>
        <%= day.strftime('%Y-%m-%d') %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>
